### Read the CSV file:
We will be importing the StudentData.csv file to analyze further.

In [1]:
# read in the .csv file of student data

import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
student_data = pd.read_csv("StudentData.csv")

In [2]:
print(student_data)

      ID_NUM  Gender  Resident  ACT_SCORE  ACT_RECEIVED  HS_GPA  Athlete  \
0          1       1         1       22.0             1    3.21        0
1          2       1         1       22.0             1    3.66        1
2          3       0         1        NaN             0    2.88        0
3          4       1         1       30.0             1    3.73        1
4          5       1         1        NaN             0    3.92        1
...      ...     ...       ...        ...           ...     ...      ...
5058    5059       0         1        NaN             0     NaN        0
5059    5060       1         0        NaN             0     NaN        0
5060    5061       1         0       17.0             1     NaN        0
5061    5062       0         1       18.0             1     NaN        1
5062    5063       1         0        NaN             0     NaN        0

      Retained
0            0
1            1
2            1
3            1
4            1
...        ...
5058         0
5059         1
5060         1
5061         1
5062         0

[5063 rows x 8 columns]

In [3]:
student_data.columns

Index(['ID_NUM', 'Gender', 'Resident', 'ACT_SCORE', 'ACT_RECEIVED', 'HS_GPA',
       'Athlete', 'Retained'],
      dtype='object')

In [4]:
student_data.describe()

,ID_NUM,Gender,Resident,ACT_SCORE,ACT_RECEIVED,HS_GPA,Athlete,Retained
count,5063.000000,5063.000000,5063.000000,4189.000000,5063.000000,3997.000000,5063.000000,5063.000000
mean,2532.000000,0.458424,0.950622,23.889472,0.827375,2.978556,0.426230,0.639542
std,1461.706537,0.498318,0.216677,4.022140,0.377960,1.287854,0.494577,0.480181
min,1.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000
25%,1266.500000,0.000000,1.000000,21.000000,1.000000,2.840000,0.000000,0.000000
50%,2532.000000,0.000000,1.000000,24.000000,1.000000,3.410000,0.000000,1.000000
75%,3797.500000,1.000000,1.000000,27.000000,1.000000,3.800000,1.000000,1.000000
max,5063.000000,1.000000,1.000000,35.000000,1.000000,5.140000,1.000000,1.000000

In [5]:
# remove duplicates

student_data.drop_duplicates(inplace = True)

print(student_data)

      ID_NUM  Gender  Resident  ACT_SCORE  ACT_RECEIVED  HS_GPA  Athlete  \
0          1       1         1       22.0             1    3.21        0
1          2       1         1       22.0             1    3.66        1
2          3       0         1        NaN             0    2.88        0
3          4       1         1       30.0             1    3.73        1
4          5       1         1        NaN             0    3.92        1
...      ...     ...       ...        ...           ...     ...      ...
5058    5059       0         1        NaN             0     NaN        0
5059    5060       1         0        NaN             0     NaN        0
5060    5061       1         0       17.0             1     NaN        0
5061    5062       0         1       18.0             1     NaN        1
5062    5063       1         0        NaN             0     NaN        0

      Retained
0            0
1            1
2            1
3            1
4            1
...        ...
5058         0
5059         1
5060         1
5061         1
5062         0

[5063 rows x 8 columns]

In [6]:
#check for null values and the percent that are null in each column

student_data.isnull()

,ID_NUM,Gender,Resident,ACT_SCORE,ACT_RECEIVED,HS_GPA,Athlete,Retained
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...
5058,False,False,False,True,False,True,False,False
5059,False,False,False,True,False,True,False,False
5060,False,False,False,False,False,True,False,False
5061,False,False,False,False,False,True,False,False
5062,False,False,False,True,False,True,False,False

In [7]:
student_data.isnull().any()

ID_NUM          False
Gender          False
Resident        False
ACT_SCORE        True
ACT_RECEIVED    False
HS_GPA           True
Athlete         False
Retained        False
dtype: bool

In [8]:
student_data.isnull().sum()/student_data.shape[0]

ID_NUM          0.000000
Gender          0.000000
Resident        0.000000
ACT_SCORE       0.172625
ACT_RECEIVED    0.000000
HS_GPA          0.210547
Athlete         0.000000
Retained        0.000000
dtype: float64

In [9]:
#See what the average is for ACT Scores and High school GPAs that will be used to replace the Null values
print ("ACT Score Average is:", student_data.ACT_SCORE.mean())
print ("High School GPA Average is:", student_data.HS_GPA.mean())

ACT Score Average is: 23.889472427787062
High School GPA Average is: 2.978555666750063

In [10]:
#Find any null values in the ACT Score column and the HS GPA Column and replace with the average

student_data.ACT_SCORE.fillna(student_data.ACT_SCORE.mean(),inplace = True)
student_data.HS_GPA.fillna(student_data.HS_GPA.mean(),inplace = True)

In [11]:
#New data frame with the null values filled in by average for ACT and HS GPA
print(student_data)

      ID_NUM  Gender  Resident  ACT_SCORE  ACT_RECEIVED    HS_GPA  Athlete  \
0          1       1         1  22.000000             1  3.210000        0
1          2       1         1  22.000000             1  3.660000        1
2          3       0         1  23.889472             0  2.880000        0
3          4       1         1  30.000000             1  3.730000        1
4          5       1         1  23.889472             0  3.920000        1
...      ...     ...       ...        ...           ...       ...      ...
5058    5059       0         1  23.889472             0  2.978556        0
5059    5060       1         0  23.889472             0  2.978556        0
5060    5061       1         0  17.000000             1  2.978556        0
5061    5062       0         1  18.000000             1  2.978556        1
5062    5063       1         0  23.889472             0  2.978556        0

      Retained
0            0
1            1
2            1
3            1
4            1
...        ...
5058         0
5059         1
5060         1
5061         1
5062         0

[5063 rows x 8 columns]

In [12]:
#After initial inspection of box plots, can see values of 0 that may have been mis entered. Treating them like nulls and replacing 0 values with the average of the column

mean = student_data['HS_GPA'].mean()
student_data.loc[student_data['HS_GPA'] == 0, 'HS_GPA'] = mean

In [13]:
student_data.ACT_SCORE.head()

0    22.000000
1    22.000000
2    23.889472
3    30.000000
4    23.889472
Name: ACT_SCORE, dtype: float64

In [14]:
student_data.HS_GPA.head()

0    3.21
1    3.66
2    2.88
3    3.73
4    3.92
Name: HS_GPA, dtype: float64

In [15]:
student_data.Resident.head()

0    1
1    1
2    1
3    1
4    1
Name: Resident, dtype: int64